---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-3xl mx-auto py-8">
    <h1 class="text-6xl font-bold text-center mt-12 mb-3">
      Juego del Ahorcado
    </h1>

    <section aria-labelledby="msg-final" class="blockm h-3 text-center py-3">
      <h2
        id="msg-final"
        class="text-center text-xl font-semibold text-gray-700 pb-3">
      </h2>
      <h4 id="acierto"></h4>
    </section>

    <section class="flex flex-col items-center mt-6 pt-3">
      <h2 id="palabra" class="text-2xl font-bold tracking-widest mb-6 p-2"></h2>
      <p
        id="hueco-pista"
        class="text-sm text-gray-600 mt-2 py-3 h-4 flex-shrink">
      </p>
      <picture class="flex justify-center space-x-2">
        <img
          src="/img/ahorcado_6.png"
          alt="Imagen del ahorcado, etapa 6"
          id="image6"
        />

        <img
          src="/img/ahorcado_5.png"
          alt="Imagen del ahorcado, etapa 5"
          id="image5"
        />
        <img
          src="img/ahorcado_4.png"
          alt="Imagen del ahorcado, etapa 4"
          id="image4"
        />
        <img
          src="img/ahorcado_3.png"
          alt="Imagen del ahorcado, etapa 3"
          id="image3"
        />
        <img
          src="img/ahorcado_2.png"
          alt="Imagen del ahorcado, etapa 2"
          id="image2"
        />
        <img
          src="img/ahorcado_1.png"
          alt="Imagen del ahorcado, etapa 1"
          id="image1"
        />
        <img
          src="img/ahorcado_0.png"
          alt="Imagen del ahorcado, etapa 0"
          id="image0"
        />
      </picture>
    </section>

    <section
      id="turnos"
      class="flex flex-wrap justify-between items-center mt-8">
      <div class="flex-1 mb-4">
        <h3 class="text-lg font-medium">
          Intentos restantes: <span id="intentos" class="font-bold">6</span>
        </h3>
      </div>

      <!-- Botones de control -->
      <div class="flex-1 space-y-2">
        <button
          onclick="inicio()"
          id="reset"
          class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
          Elegir otra palabra
        </button>
        <button
          onclick="pista()"
          id="pista"
          class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
          Dame una pista!
        </button>
      </div>
    </section>

    <!-- Se muestra el tablero -->
    <section class="mt-6 p-1 border border-gray-200 rounded-lg">
      <div
        id="abcdario"
        class="grid grid-cols-8 gap-2 justify-center p-3 user-select-none">
      </div>
    </section>
  </main>

  <script src="/main.js" is:inline></script>
</Layout>

<style>
  .main-container {
    max-width: 800px;
    margin: auto;
  }
  h1.titulo {
    margin: 50px auto 80px auto;
    text-align: center;
    font-family:
      Cambria,
      Cochin,
      Georgia,
      Times,
      Times New Roman,
      serif;
  }
  h1#msg-final {
    text-align: center;
    color: crimson;
    transition: all 0.5s ease;
    transform: scale(0);
    min-height: 50px;
    margin-bottom: 0;
  }
  .zoom-in {
    transform: scale(1) !important;
  }
  #acierto {
    text-align: center;
    min-height: 24px;
    transform: scale(0);
  }
  .acierto {
    animation: zoomInOut 1s ease;
  }
  .rojo {
    color: red;
  }
  .verde {
    color: green;
  }
  @keyframes zoomInOut {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  h2.palabra {
    margin: 0 auto 25px auto;
    text-align: center;
    color: royalblue;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  .flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
  }
  .no-wrap {
    flex-wrap: nowrap !important;
  }
  .col {
    width: 50%;
    text-align: center;
  }
  .col span {
  }
  #turnos h3 {
    margin: auto;
  }
  h3 span {
    color: orangered;
  }

  .letra {
    background-color: #a9a9a9;
  }

  .letra:disabled {
    color: rgba(255, 0, 0, 0.5);
  }
  picture {
    position: relative;
  }
  picture img {
    position: absolute;
    top: -203px;
    left: -205px;
    height: 225px;
  }
  #image5,
  #image4,
  #image3,
  #image2,
  #image1,
  #image0 {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .fade-in {
    opacity: 1 !important;
  }
  .encuadre {
    border: 2px dashed crimson;
    padding: 3px 2px 2px 6px;
  }
</style>
